body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  text-align: center;
  color: black;
  transition: all 0.3s ease;
}

body.dark {
  background-color: #121212;
  color: white;
}

.theme-toggle-button {
  background: none;
  font-size: 24px;
  cursor: pointer;
  border: none;
  color: inherit;
  padding-left: 250px;
}

div {
  color: #333;
  word-wrap: break-word;
  flex: 1 1 45%;
  box-sizing: border-box;
}

body.dark div {
  color: #fff;
}

header {
  background: #333;
  color: #fff;
  padding: 10px 20px;
  font-size: 1.5em;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  letter-spacing: 0.1em;
  font-weight: 400;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.desktop-menu {
  display: flex;
  list-style: none;
  margin-left: 25em;
  padding: 0;
  gap: 40px;
}

.hamburger-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  padding: 12px 1px;
  display: none;
  z-index: 1001;
}

.mobile-menu {
  position: absolute;
  top: -10%;
  left: 10%;
  right: 0;
  background: #333;
  z-index: 1000;
  padding: 19px;
}

.mobile-menu.active {
  display: flex;
  justify-content: center;
  animation: slideDown 0.3s ease;
}

.mobile-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mobile-menu a {
  color: white;
  text-decoration: none;
  padding: 10px 5px;
  display: block;
}

.theme-toggle-container {
  margin-left: auto;
}

.hidden {
  display: none !important;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ccc;
}

@media (max-width: 768px) {
  div {
    flex: 1 1 100%;
  }

  header {
    font-size: 1.2em;
    padding: 10px;
  }

  .desktop-menu {
    display: none;
  }

  .hamburger-button {
    display: block;
  }

  .theme-toggle-container {
    position: static;
    margin-left: 0;
  }

  .theme-toggle-button {
    position: static;
    margin-left: auto;
  }
}

@media (min-width: 769px) {
  .mobile-menu {
    display: none !important;
  }
}
